body{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: orange;
    width: 100%;
    height: 20vh;
    font-size: 70px;
}

button{
    background-color: black;
    color: orange;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    transition: 1s;
    cursor: pointer;
}

button:hover{
    background-color: white;
}

.close{
    position: absolute;
    right: 12px;
    top: 25vh;
    color:orange;
    font-size: 40px;
    opacity: 0;
    cursor: pointer;
}

.arrow{
    text-align: center;
    background-color: black;
    color: orange;
    margin-bottom: 5px;
    height: 5vh;
    font-size: 25px;
}

.arrow2{
    cursor: pointer;
}

.tab{
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: center;
    height: 0;
    margin-left: 5vw;
    width: 90%;
    overflow-y: hidden;
    transition: 0.5s;
}

.pokaz1{
    margin-left: 39vw;
    display: flex;
    width: 23vw;
    height: 28vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz2{
    margin-left: 38vw;
    display: flex;
    width: 25vw;
    height: 20vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz3{
    margin-left: 29vw;
    display: flex;
    width: 43vw;
    height: 21vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz4{
    margin-left: 39vw;
    display: flex;
    width: 23vw;
    height: 26vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz5{
    margin-left: 38vw;
    display: flex;
    width: 24vw;
    height: 28vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz6{
    margin-left: 40vw;
    display: flex;
    width: 20vw;
    height: 26vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz7{
    margin-left: 38vw;
    display: flex;
    width: 23vw;
    height: 27vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz8{
    margin-left: 37vw;
    display: flex;
    width: 26vw;
    height: 16vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz9{
    margin-left: 40vw;
    display: flex;
    width: 19vw;
    height: 16vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz10{
    margin-left: 40vw;
    display: flex;
    width: 22vw;
    height: 17vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz11{
    margin-left: 34vw;
    display: flex;
    width: 33vw;
    height: 20vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokaz11{
    margin-left: 40vw;
    display: flex;
    width: 18vw;
    height: 20vh;
    flex-flow: row wrap;
    border: solid grey 3px;
    margin-bottom: 20px;
}

.pokazinside{
    display: block;
    width: 200px;
    height: 150px;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 50px;
}

.pokazinside2{
    display: flex;
    width: 200px;
    height: 200px;
    border: solid grey 3px;
    margin-top: 4vh;
    margin-left: 50px;
}

.pokazinside3{
    display: flex;
    width: 200px;
    height: 160px;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 50px;
}

.pokazinside4{
    display: block;
    width: 200px;
    height: 22vh;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 50px;
    background-image: url("kolko.png");
}

.pokazinside5{
    display: block;
    width: 200px;
    height: 23vh;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 50px;
    background-image: url("kolko.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.pokazinside6{
    display: block;
    width: 10vw;
    height: 20vh;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 50px;
    background-image: url("kolko.png");
    overflow-y: scroll;
}

.pokazinside7{
    display: block;
    width: 10vw;
    height: 20vh;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 50px;
    background-image: url("kolko.png");
    background-size: 20px 20px;
}

.pokazinside8{
    display: block;
    width: 10vw;
    height: 12vh;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 50px;
}

.pokazinside9{
    display: block;
    width: 10vw;
    height: 12vh;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 50px;
}

.pokazinside10{
    display: block;
    position: relative;
    width: 10vw;
    height: 12vh;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 50px;
}

.pokazinside11{
    display: block;
    width: 10vw;
    height: 12vh;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 40px;
}

.pokazinside12{
    display: block;
    width: 10vw;
    height: 12vh;
    border: solid grey 3px;
    margin-top: 20px;
    margin-left: 40px;
}

.description{
    text-align: center;
    font-size: 25px;
    height: auto;
    display: none;
}

.main{
    font-size: 50px;
    color: orange;

}

.litlemain{
    font-size: 35px;
    color: orange;
}

.th1{
    margin-left: 23vw;
    width: 6w;
    display: flex;
    justify-content: start;
    border-bottom: solid black 1px;
}

.th2{
    text-align: left;
    max-width: 60vw;
}

.th3{
    margin-left: 23vw;
    width: 6vw;
    display: flex;
    justify-content: start;
    border-bottom: solid black 2px;
}

.kloc{
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
}

a {
    cursor: pointer;
}