* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#points {
    position: absolute;
    top: 23vh;
    left: 57.5vw;
    font-family: "Anta", sans-serif;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#table {
    display: grid;
    grid-template: repeat(10, 5vh) / repeat(10, 2.5vw);
}

.div {
    border: 1px solid black;
    background-size: cover;
}