* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    overflow: hidden;
}

#wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamesettings {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#gamesettings1, #gamesettings2 {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#board {
    display: grid;
    grid-template: 6.5vw repeat(9, 4vw) 6.5vw / 6.5vw repeat(9, 4vw) 6.5vw;
    border: 1px solid black;
    border-right-width: 3px;
    border-bottom-width: 3px;
}

.square {
    border: 2px solid black;
    background-size: contain;
}

.mainsquare {
    background-image: url("../pictures/41.png");
    background-size: contain;
    position: absolute;
    width: 35.9vw;
    height: 35.9vw;
    left: 50%;
    top: 50%;
    margin-top: -17.9vw;
    margin-left: -17.9vw;
    display: none;
}

.choice {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.players {
    width: 0.5vw;
    height: 0.5vw;
    position: absolute;
    display: none;
    border: 1px solid black;
    border-radius: 100%;
}

#money {
    width: 5vw;
    height: 2vw;
    position: absolute;
    text-align: center;
}

#moves {
    width: 1vw;
    height: 1vw;
    position: absolute;
}